# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# === Django ===
*.sqlite3

# Migrations, but keep __init__.py
*/migrations/*.py
!*/migrations/__init__.py

# Environment
.env
.env.*
!.env.example

# Virtual environment
venv/

# Media files (user uploads)
media/

# === IDEs ===
.idea/
.vscode/

# === OS Files ===
.DS_Store
Thumbs.db

