{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gllacy{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<header>
    <img src="{% static 'images/ice_cream.jpeg' %}" alt="ice_cream" width="100">
    <a href="{% url 'home_url' %}">Home</a>
    <a href="{% url 'catalog' %}">Catalog</a>

    {% if user.is_authenticated %}
    <a href="{% url 'admin:index' %}">Админка</a>
    <a href="{% url 'edit_profile' %}">Редактировать профиль</a>
    <button class="cart-button {% if cart_items %}btn-nonempty{% else %}btn-empty{% endif %}">
        {% if cart_items %}
            {{cart_items|length}} товаров
        {% else %}
            Пусто
        {% endif %}
    </button>

    <div class="cart-container">
        {% include 'cart.html' %}
    </div>

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
    {% else %}
    <a href="{% url 'register' %}">Новая регистрация</a>
    <a href="{% url 'password_reset' %}">Забыли пароль?</a>

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <input type="text" name="username">
        <input type="password" name="password">

        <button type="submit">Login</button>
    </form>

    {% endif %}

    <br>
    <br>

    <form action="{% url 'search' %}">
        <input type="search" name="search_value">
        <button type="submit">Search</button>
    </form>

</header>
{% block content %}{% endblock %}
<script src="{% static 'js/script.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>